*{
    margin: 0;
    padding: 0;
}

a{
    color: white;
    text-decoration: none;
}

body{
    background-image: url(../img/river.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo{
    text-align: center;
    color: white;
    margin-top: 400px;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: logo 6s;
}

.wrap-1{
    margin-top: 70px;
    transition: 0.5s;
}

.text{
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-left: 20px;
}

.cov{
    border: 1px solid white;
    margin-left: 1000px;
    margin-right: 700px;
    padding-bottom: 3px;
}

.wrap-2{
    margin-left: 630px;
    margin-top: -73px;
    transition: 0.5s;
}

.cov-2{
    border: 1px solid white;
    margin-right: 980px;
    margin-left: 80px;
    padding-bottom: 3px;
    padding-top: -5px;
}

.text-2{
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: -0px;
    padding-top: -70px;
    margin-left: 50px;
    
}

.icons{
    color: white;
    gap: 20px;
    padding-top: 60px;
    font-size: 50px;
    margin-left: 600px;
    
}

.fa-instagram{
    margin: 100px;
}
.fa-facebook-f{
    margin: 100px;
}
.fa-telegram{
    margin: 100px;
}

@keyframes logo {
    0%{
        text-shadow: 0px 0px 10px white;
    }
    25%{
        text-shadow: 0px 0px 1px aqua;
    }
    50%{
        text-shadow: 0px 0px 10px cyan;
    }
    75%{
        text-shadow: 0px 0px 1px aliceblue;
    }
    100%{
        text-shadow: 0px 0px 10px white;
    }
}