*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: white;
    text-decoration: none;
}

body{
    background-image: url(../img/river.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.logo{
    text-align: center;
    color: white;
    margin-top: 400px;
    font-size: 90px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    animation: logo 6s;
    cursor: pointer;
}

.wrap-1{
    margin-top: 70px;
    transition: 0.5s;
}

.text{
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-left: 20px;
}

.cov{
    border: 1px solid white;
    margin-left: 1000px;
    margin-right: 700px;
    padding-bottom: 3px;
    transition: 0.5s;
}

.cov:hover{
    box-shadow: 0px 0px 10px white;
}

.wrap-2{
    margin-left: 630px;
    margin-top: -76px;
    transition: 0.5s;
}

.cov-2{
    border: 1px solid white;
    margin-right: 980px;
    margin-left: 80px;
    padding-bottom: 3px;
    padding-top: -5px;
    transition: 0.5s;
}

.cov-2:hover{
    box-shadow: 0px 0px 10px white;
}

.text-2{
    color: white;
    font-family: monospace;
    font-size: 30px;
    margin-bottom: -0px;
    padding-top: -70px;
    margin-left: 50px;
    
}

.icons{
    color: white;
    gap: 20px;
    padding-top: 30px;
    font-size: 50px;
    margin-left: 600px;
    
}

.fa-instagram{
    margin: 100px;
    transition: 0.5s;
}

.fa-instagram:hover{
    text-shadow: 0px 0px 10px white;
    animation: rotare 0.5s;
}
.fa-facebook-f{
    margin: 100px;
    transition: 0.5s;
}

.fa-facebook-f:hover{
    text-shadow: 0px 0px 10px white;
    animation: rotare 0.5s;
}
.fa-telegram{
    margin: 100px;
    transition: 0.5s;
}

.fa-telegram:hover{
    text-shadow: 0px 0px 10px white;
    animation: rotare 3s infinite;
}

@keyframes rotare{
    0%{

    }
    50%{
        transform: rotate(10deg);
    }
    100%{
        transform: rotare(-10deg);
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .cov{
        border: 3px solid white;
        padding-right: -100px;
        padding-left: 310px;
        padding-top: 20px;
    }
    .cov-2{
        padding-left: 310px;
        border: 3px solid white;
        margin-right: 210px;
        padding-top: 20px;
    }
    .wrap-2{
        margin-left: -80px;
        margin-top: -150px;

    }
    .text-2{
        margin-left: -290px;
        font-size: 50px;
    }
    .text{
        margin-left: -300px;
        font-size: 50px;
    }
    .wrap-1{
        margin-left: -620px;
        margin-top: 50px;
    }
    .icons{
        display: flex;
        margin-left: 10px;
    }
    .logo{
        text-align: center;
        margin-left: 190px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .cov{
        border: 3px solid white;
        padding-right: -100px;
        padding-left: 310px;
        padding-top: 20px;
    }
    .cov-2{
        padding-left: 310px;
        border: 3px solid white;
        margin-right: 210px;
        padding-top: 20px;
    }
    .wrap-2{
        margin-left: -80px;
        margin-top: -150px;

    }
    .text-2{
        margin-left: -290px;
        font-size: 50px;
    }
    .text{
        margin-left: -300px;
        font-size: 50px;
    }
    .wrap-1{
        margin-left: -620px;
        margin-top: 50px;
    }
    .icons{
        display: flex;
        margin-left: 10px;
    }
    .logo{
        text-align: center;
        margin-left: 190px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

@keyframes logo {
    0%{
        text-shadow: 0px 0px 10px white;
    }
    25%{
        text-shadow: 0px 0px 1px aqua;
    }
    50%{
        text-shadow: 0px 0px 10px cyan;
    }
    75%{
        text-shadow: 0px 0px 1px aliceblue;
    }
    100%{
        text-shadow: 0px 0px 10px white;
    }
}