*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(blue, cyan);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a{
    text-decoration: none;
    color: aliceblue;
}

.wraps{
    display: flex;
    gap: 10px;
    width: 100%;

}

.img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-1{
    width: 100%;
    margin: 20px auto;
    margin-left: 10px;
    text-align: center;
    box-shadow: 0 3px 10px black;
    border-radius: 10px;
    transition: 0.3s;
}

.wrap-1:hover{
    box-shadow: 0px 3px 20px black;
    margin-top: 10px;
}

.t{
    padding-bottom: 20px;
}

.img-2{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-2{
    width: 100%;
    margin: 20px auto;
    margin-right: 1200px;
    text-align: center;
    box-shadow: 0 3px 10px black;
    border-radius: 10px;
    transition: 0.3s;
}

.wrap-2:hover{
    box-shadow: 0px 3px 20px black;
    margin-top: 10px;
}

.t-2{
    padding-bottom: 20px;
}

.img-3{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-3{
    width: 30%;
    margin: 20px auto;
    margin-right: 1350px;
    text-align: center;
    box-shadow: 0 3px 10px black;
    border-radius: 10px;
    transition: 0.3s;
}

.wrap-3:hover{
    box-shadow: 0px 3px 20px black;
    margin-top: 10px;
}

.t-3{
    padding-bottom: 20px;
}

.img-4{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.wrap-4{
    width: 30%;
    margin: 10px auto;
    margin-right: 200px;
    text-align: center;
    box-shadow: 0 3px 10px black;
    border-radius: 10px;
    transition: 0.3s;
}

.wrap-4:hover{
    box-shadow: 0px 3px 20px black;
    margin-top: 10px;
}

.t-4{
    padding-bottom: 20px;
}

.text{
    text-align: right;
    color: white;
    font-family: monospace;
    margin-right: 200px;
    margin-bottom: 600px;
    font-size: 50px;
    margin-top: -600px;
    animation: text 2s;
}

.back{
    color: white;
}

@media only screen and (max-width: 600px) {
    .cov{
        border: 3px solid white;
        padding-right: -100px;
        padding-left: 310px;
        padding-top: 20px;
    }
    .cov-2{
        padding-left: 310px;
        border: 3px solid white;
        margin-right: 210px;
        padding-top: 20px;
    }
    .wrap-2{
        margin-left: -80px;
        margin-top: -150px;

    }
    .text-2{
        margin-left: -290px;
        font-size: 50px;
    }
    .text{
        margin-left: -300px;
        font-size: 50px;
    }
    .wrap-1{
        margin-left: -620px;
        margin-top: 50px;
    }
    .icons{
        display: flex;
        margin-left: 10px;
    }
    .logo{
        text-align: center;
        margin-left: 190px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
    .text{
        margin-top: 40px;
        margin-left: 30px;
        font-size: 20px;
    }
    .wrap-1{
        margin-left: 20px;
    }
    .wrap-2{
        margin-left: 40px;
        width: 200px;
    }
    .wrap-3{
        padding-left: 0px;

    }
    .h1{
        font-size: 10px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {...}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {...}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {...}

@keyframes text {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



